{% extends 'starter.html' %}
{% load static %}
{% block content %}

<section id="about" class="about section">

    <div class="container">

      <div class="row gy-4">

        <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="100">
          <img src="{% static 'IMG/playground.webp' %}" class="img-fluid" alt="">
        </div>

        <div class="col-lg-6 order-2 order-lg-1 content" data-aos="fade-up" data-aos-delay="200">
          <h3>Welcome to Amberleaf Academy: Nurturing Minds, Shaping Futures</h3>
          <p class="fst-italic">
          

Welcome to Amberleaf Academy, Located at P234 Nairobi Highway, Kapiti Plains, 5214, Amberleaf Academy is a hub of educational excellence, nestled in the tranquil Kapiti Plains. We provide an inspiring learning environment that fosters intellectual growth, creativity, and holistic development.

Our curriculum is designed to cater to diverse interests, offering a wide range of activities from arts and sports to science and technology. This approach ensures a well-rounded education, equipping students with the skills and confidence to excel in their chosen fields.

Understanding the importance of global citizenship, we offer foreign language programs that enhance cultural awareness and communication skills, preparing students for success in an interconnected world. Additionally, our digital schooling initiatives integrate modern technology into teaching, making learning interactive and engaging.

With experienced educators and a supportive community, Amberleaf Academy nurtures dreams, unlocks potential, and fosters lifelong friendships. Join us for a transformative educational journey.

          </p>
          
          
        </div>

      </div>

    </div>

  </section>

{% endblock %}