{% extends 'starter.html' %}
{% load static %}
{% block content %}


<section id="hero" class="hero section dark-background">

    <img src="{% static 'IMG/complab.webp' %}" alt="" data-aos="fade-in">

    <div class="container">
      <h2 data-aos="fade-up" data-aos-delay="100">Start your Journey in Amberleaf Academy Today,<br>Your childs future is depended on this decision!</h2>
      <p data-aos="fade-up" data-aos-delay="200">We are a great school which is worth your resources</p>
      <div class="d-flex mt-4" data-aos="fade-up" data-aos-delay="300">
        <a href="{% url 'interview' %}" class="btn-get-started">Get Started</a>
      </div>
    </div>

  </section>
{% endblock %}