{% extends 'starter.html' %}
{% load static %}
{% block content %}
 
 <section id="events" class="events section">

    <div class="container" data-aos="fade-up">

      <div class="row">
        <div class="col-md-6 d-flex align-items-stretch">
          <div class="card">
            <div class="card-img">
              <img src="{% static 'IMG/director1.jpg' %}" alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title"><a href="">Ms Paschaline Ndoti Mwambi</a></h5>
              <p class="fst-italic text-center">School Director</p>
              <p class="card-text"> 
                Dr. Paschaline Ndoti Mwambi is the visionary director of Amberleaf Academy, a renowned institution dedicated to fostering academic excellence and holistic development. With a Ph.D. and over two decades of expertise in management, Dr. Mwambi stands as a beacon of leadership and innovation in the educational sector. Her profound knowledge and practical experience have been instrumental in shaping Amberleaf Academy into a hub of quality education and transformative learning.

                Under her stewardship, Amberleaf Academy has flourished, consistently achieving remarkable academic outcomes and nurturing a culture of integrity and excellence. Dr. Mwambi’s commitment to continuous improvement has driven the adoption of innovative teaching methodologies and cutting-edge technologies, ensuring the institution remains at the forefront of educational advancement.
                
                Her dedication extends beyond academics, as she champions mentorship programs and community outreach initiatives, empowering students and fostering societal growth. Dr. Mwambi’s legacy is a testament to her unwavering passion for education and leadership.
                
                
             </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 d-flex align-items-stretch">
          <div class="card">
            <div class="card-img">
              <img src="{% static 'IMG/director2.jpg' %}" alt="...">
            </div>
            <div class="card-body">
              <h5 class="card-title"><a href="">Naomi Rehina Ndoti</a></h5>
              <p class="fst-italic text-center">School Principal</p>
              <p class="card-text">
                Naomi Rehina Ndoti serves as the exemplary principal of Amberleaf Academy, embodying a strong commitment to discipline and academic excellence. Her leadership style is defined by a structured yet compassionate approach, ensuring that students develop not only intellectually but also as responsible and ethical individuals. Through her unwavering dedication, she has fostered an environment where discipline becomes a cornerstone of personal and academic success.

Ms. Ndoti’s commitment to Amberleaf Academy extends beyond her administrative duties. She is deeply involved in every aspect of the school, from curriculum development to student welfare. Her open-door policy encourages both students and staff to approach her with their concerns, fostering a culture of trust and mutual respect.

Her unending passion for education is evident in her relentless drive to inspire both teachers and students to achieve their best. Under her guidance, Amberleaf Academy continues to thrive as a beacon of discipline and excellence.


              </p>
           
           
            </div>
          </div>

        </div>
      </div>

    </div>

  </section>

{% endblock %}