{% extends 'starter.html' %}
{% load static %}
{% block content %}
<h1 class="text-center text-success">Login page</h1>

<section class=" text-center text-lg-start">
    <style>
      .rounded-t-5 {
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
      }
  
      @media (min-width: 992px) {
        .rounded-tr-lg-0 {
          border-top-right-radius: 0;
        }
  
        .rounded-bl-lg-5 {
          border-bottom-left-radius: 0.5rem;
        }
      }
    </style>
    <div class="card mb-3">
      <div class="row g-0 d-flex align-items-center">
        <div class="col-lg-4 d-none d-lg-flex">
          <img src="{% static 'IMG/library.webp' %}" alt="Trendy Pants and Shoes"
            class="w-100 rounded-t-5 rounded-tr-lg-0 rounded-bl-lg-5" />
        </div>
        <div class="col-lg-8">
          <div class="card-body py-5 px-md-5">
  
            <form method="POST">
                {% csrf_token %}
              
              <div data-mdb-input-init class="form-outline mb-4">
                <input type="text" name="username" id="user" class="form-control" />
                <label class="form-label" for="user">User Name</label>
              </div>
  
              
              <div data-mdb-input-init class="form-outline mb-4">
                <input type="password" name="password" id="form2Example2" class="form-control" />
                <label class="form-label" for="form2Example2">Password</label>
              </div>
  
              
              <div class="row mb-4">
                <div class="col d-flex justify-content-center">
                  
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="form2Example31" checked />
                    <label class="form-check-label" for="form2Example31"> Remember me </label>
                  </div>
                </div>
  
                <div class="col">
                  
                   <p>Are you new here?</p>
                  <a href="{% url 'register' %}">Click here to register:</a>
                </div>
              </div>
  
              
              <button  type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-success btn-block mb-4">Sign in</button>
  
            </form>
  
          </div>
        </div>
      </div>
    </div>
  </section>
  
{% endblock %}