{% extends 'starter.html' %}
{% load static %}
{% block content %}
<h1 class="text-center text-success">Our teachers</h1>

<section id="trainers" class="section trainers">

    <div class="container">

      <div class="row gy-5">

        <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="100">
          <div class="member-img">
            <img src="{% static 'assets/img/team/team-1.jpg' %}" class="img-fluid" alt="">
            <div class="social">
              <a href="#"><i class="bi bi-twitter-x"></i></a>
              <a href="#"><i class="bi bi-facebook"></i></a>
              <a href="#"><i class="bi bi-instagram"></i></a>
              <a href="#"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info text-center">
            <h4>Anthonio White</h4>
            <span>Swimming Lessons</span>
            <p>Antonio White is a dedicated and passionate educator at Amberleaf Academy, specializing in swimming and mathematics. With over 12 years of teaching experience, Antonio has honed a unique ability to blend technical knowledge with inspiring pedagogy, creating a dynamic and supportive learning environment for his students.

                In mathematics, Antonio emphasizes practical problem-solving skills, fostering critical thinking and confidence in his students. He excels in breaking down complex concepts into relatable, manageable lessons, ensuring every student can progress at their own pace while feeling supported and challenged.
                
                As a swimming instructor, Antonio combines his expertise with a focus on safety, technique, and enjoyment. He believes swimming is not just a physical skill but a gateway to building discipline, resilience, and teamwork. His engaging teaching style motivates students of all ages and abilities to strive for personal growth and excellence in and out of the water.
                
                Antonio’s enthusiasm, coupled with his commitment to student success, has made him a beloved member of the Amberleaf Academy faculty. He is deeply invested in empowering his students to achieve their full potential, both academically and athletically, ensuring they leave his classes with invaluable skills and self-confidence.</p>
          </div>
        </div><!-- End Team Member -->

        <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="200">
          <div class="member-img">
            <img src="{% static 'assets/img/team/team-2.jpg' %}" class="img-fluid" alt="">
            <div class="social">
              <a href="#"><i class="bi bi-twitter-x"></i></a>
              <a href="#"><i class="bi bi-facebook"></i></a>
              <a href="#"><i class="bi bi-instagram"></i></a>
              <a href="#"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info text-center">
            <h4>Lana Jhonson</h4>
            <span>Skating Lessons</span>
            <p>Lana Johnson is a talented and versatile educator at Amberleaf Academy, bringing over 8 years of teaching experience to her roles as a skating and language instructor. With a vibrant teaching style and a passion for student success, Lana inspires learners to push their boundaries both on the skating rink and in the classroom.

              As a skating teacher, Lana combines technical expertise with a focus on creativity and confidence. She helps her students master the fundamentals while encouraging them to express themselves through movement. Whether coaching beginners or advanced skaters, Lana's patience and encouragement foster a supportive environment where her students thrive. Her dedication extends beyond skills development, emphasizing discipline, teamwork, and the joy of self-expression.
              
              In addition to her work on the rink, Lana excels as a language teacher, guiding students through the nuances of communication. Her engaging lessons make languages approachable and enjoyable, helping students build fluency while exploring cultural connections. Lana’s ability to adapt her teaching methods to suit diverse learning styles ensures her students feel both challenged and supported.
              
              Lana Johnson's dual expertise in skating and languages makes her an invaluable asset to Amberleaf Academy, enriching the lives of her students with her energy, creativity, and unwavering commitment to excellence.
        </p>
          </div>
        </div><!-- End Team Member -->

        <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="300">
          <div class="member-img">
            <img src="{% static 'assets/img/team/team-3.jpg' %}" class="img-fluid" alt="">
            <div class="social">
              <a href="#"><i class="bi bi-twitter-x"></i></a>
              <a href="#"><i class="bi bi-facebook"></i></a>
              <a href="#"><i class="bi bi-instagram"></i></a>
              <a href="#"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info text-center">
            <h4>Brandon Anderson</h4>
            <span>Yoga Classes</span>
            <p>Brandon Anderson is a dedicated and inspiring educator at Amberleaf Academy, where he serves as both a yoga instructor and a mathematics teacher. With a passion for nurturing both the mind and body, Brandon brings a holistic approach to teaching that empowers his students to achieve balance, focus, and success.

              In his role as a yoga instructor, Brandon emphasizes mindfulness, flexibility, and physical well-being. His classes are designed to accommodate students of all skill levels, providing a safe and inclusive space for everyone to explore the benefits of yoga. Through his gentle guidance and encouragement, students develop strength, resilience, and a deeper connection to their bodies. Brandon also integrates elements of mindfulness and breathing exercises, helping students manage stress and enhance concentration.
              
              As a mathematics teacher, Brandon is equally dedicated to fostering a love for learning. He excels in breaking down complex mathematical concepts into engaging, easy-to-understand lessons. His teaching emphasizes problem-solving skills and real-world applications, inspiring confidence and curiosity in his students.
              
              Brandon’s unique ability to combine physical discipline with intellectual rigor makes him a valued member of the Amberleaf Academy faculty. His students leave his classes not only with academic growth but also with tools to lead healthier, more balanced lives.
</p>
          </div>
        </div><!-- End Team Member -->

        <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="400">
          <div class="member-img">
            <img src="{% static 'assets/img/team/team-4.jpg' %}" class="img-fluid" alt="">
            <div class="social">
              <a href="#"><i class="bi bi-twitter-x"></i></a>
              <a href="#"><i class="bi bi-facebook"></i></a>
              <a href="#"><i class="bi bi-instagram"></i></a>
              <a href="#"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info text-center">
            <h4>Amanda Jepson</h4>
            <span>Foreign Languages</span>
            <p>

              Amanda Jepson is an accomplished foreign languages teacher at Amberleaf Academy, specializing in French and German. With a deep passion for languages and cultural exchange, Amanda brings vibrancy and enthusiasm to her classrooms, inspiring students to explore new ways of thinking and communicating.  
              
              With years of experience in teaching, Amanda has perfected her ability to make language learning accessible and enjoyable. She employs innovative teaching methods, blending traditional instruction with interactive activities like role-playing, storytelling, and multimedia resources. This approach not only helps students grasp grammar and vocabulary but also builds their confidence in speaking and understanding these languages in real-world contexts.  
              
              Amanda places a strong emphasis on cultural immersion, introducing her students to the rich traditions, histories, and customs associated with French- and German-speaking communities. Through her lessons, she fosters appreciation for diversity and encourages her students to see language as a bridge to understanding different cultures.  
              
              Her dedication to student success, coupled with her expertise, makes Amanda a beloved member of the Amberleaf Academy faculty. By equipping her students with linguistic skills and a global perspective, Amanda Jepson ensures they are well-prepared to thrive in an interconnected world.</p>
          </div>
        </div><!-- End Team Member -->

        <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="500">
          <div class="member-img">
            <img src="{% static 'assets/img/team/team-5.jpg' %}" class="img-fluid" alt="">
            <div class="social">
              <a href="#"><i class="bi bi-twitter-x"></i></a>
              <a href="#"><i class="bi bi-facebook"></i></a>
              <a href="#"><i class="bi bi-instagram"></i></a>
              <a href="#"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info text-center">
            <h4>Brian White</h4>
            <span>Maths and Sciences<br></span>
            <p> 

              Brian White is a skilled and passionate educator at Amberleaf Academy, specializing in mathematics and sciences. With a commitment to fostering curiosity and critical thinking, Brian empowers his students to excel in these foundational subjects, equipping them with the tools needed for academic success and real-world problem-solving.  
              
              As a mathematics teacher, Brian excels in simplifying complex concepts, making them accessible and engaging for learners of all levels. His lessons emphasize practical applications, helping students understand how mathematics connects to everyday life and various careers. By encouraging logical reasoning and perseverance, Brian instills confidence in his students, enabling them to approach challenges with a positive mindset.  
              
              In the sciences, Brian brings an inquiry-based approach to his teaching. He fosters a hands-on learning environment, where experiments, demonstrations, and discussions encourage students to explore the natural world. His passion for the subject inspires curiosity, helping students grasp scientific principles and their relevance to global challenges like climate change and technology advancements.  
              
              Brian’s dedication to his students' growth, both intellectually and personally, makes him a valued member of the Amberleaf Academy team. His ability to integrate analytical thinking and creativity ensures his students leave his classes prepared for future academic and professional pursuits.</p>
          </div>
        </div><!-- End Team Member -->

        <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="600">
          <div class="member-img">
            <img src="{% static 'assets/img/team/team-6.jpg' %}" class="img-fluid" alt="">
            <div class="social">
              <a href="#"><i class="bi bi-twitter-x"></i></a>
              <a href="#"><i class="bi bi-facebook"></i></a>
              <a href="#"><i class="bi bi-instagram"></i></a>
              <a href="#"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
          <div class="member-info text-center">
            <h4>Josepha Palas</h4>
            <span>Business</span>
            <p>Josepha Palas is a dynamic and innovative business teacher at Amberleaf Academy, dedicated to preparing students for success in the modern economic landscape. With a deep passion for entrepreneurship and business education, Josepha brings real-world expertise and engaging teaching methods to the classroom, inspiring her students to think critically and creatively.

              Her lessons cover a broad spectrum of business concepts, including marketing, finance, management, and entrepreneurship. Josepha emphasizes practical learning by incorporating case studies, interactive projects, and simulations into her teaching. This hands-on approach allows students to apply theoretical knowledge to real-world scenarios, fostering a deeper understanding of business principles.
              
              Josepha is committed to helping her students develop essential skills such as leadership, teamwork, and problem-solving. She often invites guest speakers and organizes field trips to give her students firsthand insights into the business world. Her classes also encourage discussions on ethics, innovation, and global market trends, ensuring students are well-prepared for the challenges of the ever-evolving business environment.
              
              Known for her approachable and supportive teaching style, Josepha Palas inspires her students to strive for excellence and pursue their ambitions with confidence. Her dedication to shaping future leaders makes her an invaluable member of the Amberleaf Academy faculty.</p>
          </div>
        </div><!-- End Team Member -->

      </div>

    </div>

  </section>
  {% endblock %}
